/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home{
    height: 400px;
    padding: 3px 68px;
}

#home::before{
    height: 500px;
}

#home p{

}




/* Services Section */
#services{
    flex-direction: column;
}




/* Clients Section */
#clients{
    overflow: hidden;
}

/* Contact Section */

/* Footer */


/* Utility Classes */

.h-primary{
    font-size: 30px;
}