/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root{
    --navbar-height: 59px;
}

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: logo and image */
#logo{
    margin: 34px 45px;

}
#logo img{
    height: 56px;
    margin: 5px 6px;
}

/* Navigation Bar: List Styling */

ul{
    display: flex;
}
